print-color
torch
ollama
langchain
langchain-ollama
langchain-huggingface
dspy
openai
plotly
umap-learn
pandas
tqdm
tenacity
simpleneighbors
scikit-learn
graphviz
numpy
hydra-core
nltk
networkx
omegaconf
scipy
matplotlib
accelerate
transformers
datasets
huggingface_hub
flake8
wandb
frozendict
pytest
sentence-transformers
jupyter
jupyterlab-spellchecker
jupyterlab-git
jupyterlab-lsp
python-lsp-server[all]
FlagEmbedding
strsimpy
sdialog